* {
  box-sizing: border-box;
  align-items: center;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
.navbar {
  background-color: rgba(255, 255, 0, 0.692);
  margin: 0 auto;
}
.navbar__title {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.navbar__list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  .navbar__list-item {
    list-style: none;
  }
}